.imageElement--carousel {
  border-radius: 6px;
  box-shadow: 3px 3px 3px rgb(0 0 0 / 50%);

  margin: 20px;
}

.slideChildrenContainer--carousel {
  margin-right: 5px;
  margin-left: 5px;
}

.paginationDotsContainer--carousel {
  margin-bottom: -0.5rem !important;
}

.sliderLayoutContainer {
  justify-content: center;
}

.sliderLayoutContainer--carousel {
  min-height: 450px;
}

.sliderTrackContainer {
  max-width: 100%;
}

.paginationDotsContainer {
  margin-top: .5rem;
  margin-bottom: .5rem;
}

.layoutContainer--shelf {
  margin-top: 20px;
  margin-bottom: 20px;
  max-width: 96rem;
  min-height: 550px;
}

.slide--shelf {
  margin-bottom: 25px;
  padding-left: .5rem;
  padding-right: .5rem;
  min-height: 550px;
}