.paragraph--our-squad {
    color: #FFC107;
    text-shadow: 1px 1px 1px #363535;
}

.heading--text-dev-1 .heading--text-dev-2 .heading--text-dev-3 .heading--text-dev-4 .heading--text-dev-5 .heading--text-dev-6 .heading--text-dev-7{
    width: 100%;
    padding-top: 0;
    padding-bottom: 0;
    margin-top: 0;
    margin-bottom: 0;
    max-width: 300px;    
}

.wrapper--desc-dev-1,.wrapper--desc-dev-2,.wrapper--desc-dev-3,.wrapper--desc-dev-4,.wrapper--desc-dev-5,.wrapper--desc-dev-6 .paragraph {
    width: 300px;
}

.wrapper--text-dev-1,.wrapper--text-dev-2,.wrapper--text-dev-3,.wrapper--text-dev-4,.wrapper--text-dev-5,.wrapper--text-dev-6 {
    height: 70px;
}

.paragraph--our-squad {
    max-width: 100%;
    padding-top: auto;
    padding-bottom: auto;
    margin-top: auto;
    margin-bottom: auto;
}

