.infoCardContainer--info-card-about-us-1 {
    background-color: rgb(250, 250, 250);
    Width: 90vw;
    height: 65vh;
    margin-left: auto;
    margin-right: auto;
}

.infoCardContainer--info-card-about-us-2 {
    Width: 90vw;
    height: 50vh;
    margin-left: auto;
    margin-right: auto 
}

.infoCardImage--info-card-about-us-1 {
    width: 100vw;
    height: 65vh
}


.infoCardTextContainer--info-card-about-us-2{
    width: 80%
}

.flexRowContent--container-squad1{
   margin-bottom: 10%;

}

.flexRowContent--container-squad2{
   margin-bottom: 10%;

}

.flexRowContent--container-squad3{
   margin-bottom: 10%;

}

.imageElement--img-dev-1 {
    width: 300px;
    height: 300px
}

.imageElement--img-dev-2 {
    width: 300px;
    height: 300px
}

.imageElement--img-dev-3 {
    width: 300px;
    height: 300px
}

.imageElement--img-dev-4 {
    width: 300px;
    height: 300px
}

.imageElement--img-dev-5 {
    width: 300px;
    height: 300px
}

.imageElement--img-dev-6 {
    width: 300px;
    height: 300px
}

.imageElement--img-dev-7 {
    width: 300px;
    height: 300px
}

@media only screen and (max-width: 640px) {
    .infoCardContainer--info-card-about-us-1 {
        background-color: white;
        Width: 100vw;
        height: 100vh;
        margin-bottom: 0;
    }

    .infoCardContainer--info-card-about-us-2 {
        Width: 100%;
        height: 100%;
        margin-top: -40vh;
        margin-left: 0;
        margin-right: 0;
    }
    
    .infoCardImage--info-card-about-us-1 {
        margin-top: -7vh;
        width: 100%;
        height: 100%
    }

    .infoCardImage--info-card-about-us-2 {
        margin-top: -7vh;
        width: 100%;
        height: 100%
    }

    

}